.Home{
    position: relative;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 160px;
    padding-bottom: 160px;
    // background: url('../img/home_content_bg.png') top center no-repeat #111;
    background-color: #111;
    overflow: hidden;
    .Home_Content{
        width:100%;
        max-width: 1024px;
        margin:0 auto;
        .Home_Content_Bg{
            width: 70%;
            max-width: 700px;
            height: 100%;
            min-height: 100vh;
            background: #111;
            position: absolute;
            top: 0px;
            right: 0px;
            z-index: 1;
            overflow: hidden;
            .Home_Content_Bg_Filter{
                &:before{
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 3;
                    background: rgba(17,17,17,1);
                    background: -moz-linear-gradient(top, rgba(17,17,17,1) 0%, rgba(15,15,15,1) 14%, rgba(8,8,8,0.69) 54%, rgba(2,2,2,0.35) 86%, rgba(0,0,0,0.08) 100%);
                    background: -webkit-gradient(top top, top top, color-stop(0%, rgba(17,17,17,1)), color-stop(14%, rgba(15,15,15,1)), color-stop(54%, rgba(8,8,8,0.69)), color-stop(86%, rgba(2,2,2,0.35)), color-stop(100%, rgba(0,0,0,0.08)));
                    background: -webkit-linear-gradient(top, rgba(17,17,17,1) 0%, rgba(15,15,15,1) 14%, rgba(8,8,8,0.69) 54%, rgba(2,2,2,0.35) 86%, rgba(0,0,0,0.08) 100%);
                    background: -o-linear-gradient(top, rgba(17,17,17,1) 0%, rgba(15,15,15,1) 14%, rgba(8,8,8,0.69) 54%, rgba(2,2,2,0.35) 86%, rgba(0,0,0,0.08) 100%);
                    background: -ms-linear-gradient(top, rgba(17,17,17,1) 0%, rgba(15,15,15,1) 14%, rgba(8,8,8,0.69) 54%, rgba(2,2,2,0.35) 86%, rgba(0,0,0,0.08) 100%);
                    background: linear-gradient(to top, rgba(17,17,17,1) 0%, rgba(15,15,15,1) 14%, rgba(8,8,8,0.69) 54%, rgba(2,2,2,0.35) 86%, rgba(0,0,0,0.08) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#000000', GradientType=1 );
                }
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 2;
                background: rgba(17,17,17,1);
                background: -moz-linear-gradient(left, rgba(17,17,17,1) 0%, rgba(15,15,15,1) 14%, rgba(8,8,8,0.69) 54%, rgba(2,2,2,0.35) 86%, rgba(0,0,0,0.08) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(17,17,17,1)), color-stop(14%, rgba(15,15,15,1)), color-stop(54%, rgba(8,8,8,0.69)), color-stop(86%, rgba(2,2,2,0.35)), color-stop(100%, rgba(0,0,0,0.08)));
                background: -webkit-linear-gradient(left, rgba(17,17,17,1) 0%, rgba(15,15,15,1) 14%, rgba(8,8,8,0.69) 54%, rgba(2,2,2,0.35) 86%, rgba(0,0,0,0.08) 100%);
                background: -o-linear-gradient(left, rgba(17,17,17,1) 0%, rgba(15,15,15,1) 14%, rgba(8,8,8,0.69) 54%, rgba(2,2,2,0.35) 86%, rgba(0,0,0,0.08) 100%);
                background: -ms-linear-gradient(left, rgba(17,17,17,1) 0%, rgba(15,15,15,1) 14%, rgba(8,8,8,0.69) 54%, rgba(2,2,2,0.35) 86%, rgba(0,0,0,0.08) 100%);
                background: linear-gradient(to right, rgba(17,17,17,1) 0%, rgba(15,15,15,1) 14%, rgba(8,8,8,0.69) 54%, rgba(2,2,2,0.35) 86%, rgba(0,0,0,0.08) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#000000', GradientType=1 );
            }
            img{
                position: relative;
                z-index: 1;
                width: 100%;
            }
        }
        .Home_TxtBanner{
            width:100%;
            max-width: 500px;
            position: relative;
            margin-top: 50px;
            margin-left: 100px;
            z-index: 2;
            .TxtBanner_Border{
                width: calc(90%);
                height: calc(100% + 60px);
                position: absolute;
                border-left:10px solid #fff;
                top:-33px;
                left:-70px;
                z-index: 1;
                &:before{
                    content: '';
                    width: 100%;
                    height: 20px;
                    border-top: 10px solid #fff;
                    border-left: 10px solid #fff;
                    border-right: 10px solid #fff;
                    top: 0px;
                    position: absolute;
                    left: -10px;
                }
                &:after{
                    content: '';
                    width: 100%;
                    height: 20px;
                    border-bottom: 10px solid #fff;
                    border-left: 10px solid #fff;
                    border-right: 10px solid #fff;
                    bottom: -20px;
                    position: absolute;
                    left: -10px;
                }
            }
            .TxtBanner_TextBox{
                padding: 20px 0;
                z-index: 2;
                position: relative;
                .TxtBanner_TextBox_Title{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 65px;
                    color:#fff;
                    font-weight: 800;
                    line-height: 70px;
                }
                .TxtBanner_TextBox_Descript{
                    font-family: 'Hind', sans-serif;
                    font-size: 16px;
                    color:#fff;
                    font-weight: 300;
                    line-height: 26px;
                    margin-top: 20px;
                }
                .TxtBanner_TextBox_Button{
                    border-radius: 50px;
                    -webkit-border-radius: 50px;
                    -moz-border-radius: 50px;
                    -ms-border-radius: 50px;
                    -o-border-radius: 50px;
                    background: #3ca0e1;
                    text-align: center;
                    padding:20px;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 16px;
                    color:#fff;
                    font-weight: 800;
                    line-height: 16px;
                    margin-top: 20px;
                    text-transform: uppercase;
                }
            }
        }
    }
}
