@import 'animations.scss';

.Portfolio{
    position: relative;
    z-index: 9;
    background: rgba(111, 38, 167, 0.64);
    min-height: 100vh;
    .Portfolio_Content{
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
        z-index: 2;
        padding-top: 160px;
        padding-bottom: 0px;
        .PageTitle{
            .PageTitle_Name{
                color:#fff;
            }
            .PageTitle_Sub{
                color:#fff;
            }
        }
        .Portfolio_Text{
            font-family: 'Hind';
            color: #fff;
            font-size: 16px;
            font-weight: 200;
            line-height: 28px;
            margin-top: 10px;
            b{
                font-weight: 600;
            }
        }
        .Portfolio_Nav{
            width: 100%;
            margin-top: 40px;
            padding: 15px;
            background: #5a2a7d;
            .Portfolio_Nav_Title{
                font-family: 'Open Sans', 'Hind', sans-serif;
                color: #ffff;
                font-size: 17px;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
            }
            .Portfolio_Nav_Content{
                margin-top: 20px;
                display: flex;
                position: relative;
                justify-content: center;
                .Portfolio_Nav_Item{
                    border-right: 1px solid #767676;
                    padding: 3px 20px;
                    font-family: 'Open Sans','Hind',sans-serif;
                    color: #fff;
                    font-size: 16px;
                    font-weight: 600;
                    cursor: pointer;
                    text-transform: uppercase;
                    &:last-child{
                        border-right: none;
                    }
                    &.Portfolio_Nav_Item__is-active{
                        font-weight: 800;
                        color:#fff707;
                    }
                    &:hover{
                        color:#fff707;
                    }
                }
            }
        }
    }
    .Portfolio_Album{
        display: flex;
        background: #f1f1f1;
        flex-wrap: wrap;
        margin-top:20px;
        .Portfolio_Album_Item{
            width: 50%;
            height: 560px;
            background: #ccc;
            position: relative;
            overflow: hidden;
            transition: all .2s ease;
            display: flex;
            justify-content: center;
            &:hover{
                .Portfolio_Album_Item_Content{
                    opacity: 1;
                }
                .Portfolio_Album_Item_Bg{
                    &:before{
                        opacity: 1;
                    }
                }
            }
            .Portfolio_Album_Item_Bg{
                width:100%;
                height:100%;
                position: absolute;
                top:0px;
                left:0px;
                z-index:0;
                overflow: hidden;
                &:before{
                    background: rgba(0,0,0,0.8);
                    width: 100%;
                    height: 100%;
                    content: ' ';
                    display:block;
                    position: absolute;
                    top:0px;
                    opacity: 0;
                    transition: .25s ease;
                }
                img{
                    height:100%;
                }
            }
            &.Portfolio_Album_Item_Left{
                justify-content: center;
                .Portfolio_Album_Item_Content{
                    text-align: center;
                    align-items: center;
                }
            }
            &.Portfolio_Album_Item_Right{
                justify-content: center;
                .Portfolio_Album_Item_Content{
                    text-align: center;
                    align-items: center;
                }
            }
            .Portfolio_Album_Item_Content{
                position: relative;
                z-index:1;
                padding:40px;
                width: calc(100% - 180px);
                height: calc(100% - 80px);
                opacity: 0;
                transition: .2s ease;
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                align-items: center;
                .Portfolio_Album_Item_Title{
                    font-family: 'Open Sans', 'Hind', sans-serif;
                    color: #fff;
                    font-size: 32px;
                    font-weight: 800;
                    text-transform: uppercase;
                }
                .Portfolio_Album_Item_Category{
                    font-family: 'Open Sans', 'Hind', sans-serif;
                    color: #333;
                    font-size: 13px;
                    font-weight: 600; 
                    text-transform: uppercase;
                    margin-top: 8px;
                    background:#fff;
                    padding: 5px 8px;
                }
                .Portfolio_Album_Item_Url{
                    font-family: 'Open Sans', 'Hind', sans-serif;
                    color: #fff;
                    font-size: 16px;
                    font-weight: 300;
                    font-style: italic;
                    margin-top: 8px;
                    a{
                        color:#fff;
                        text-decoration: none;
                        outline: none;
                    }
                }
                .Portfolio_Album_Item_Descrption{
                    font-family: 'Open Sans', 'Hind', sans-serif;
                    color: #fff;
                    font-size: 16px;
                    font-weight: 400;
                    margin-top: 8px;
                }
                .Portfolio_Album_Item_Button{
                    display: block;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 13px;
                    font-weight: 700;
                    text-transform: uppercase;
                    text-align: center;
                    margin-top:15px;
                    a{
                        display: block;
                        padding: 15px;
                        width: 70px;
                        background: #fff;
                        text-decoration: none;
                        color:#333;
                    }
                }
            }
        }
    }
}
