// font-family: 'Hind', sans-serif;
// font-family: 'Open Sans', sans-serif;
body{
    margin: 0;
    padding: 0;
    width: 100%; 
}

@import 'header.scss';  
@import 'socialmedia.scss';  
@import 'home.scss';  