@import 'animations.scss';

.Skills{
    position: relative;
    z-index: 9;
    min-height: 100vh;
    background: #111;  /* fallback for old browsers */
    background-image: url('../img/skills_bg.png');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    // background: -webkit-linear-gradient(to left, #095bd6, #710694);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to left, #095bd6, #710694); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    // background: rgba(170,0,255,1);
    // background: -moz-linear-gradient(top, rgba(170,0,255,1) 0%, rgba(0,0,0,1) 100%);
    // background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(170,0,255,1)), color-stop(100%, rgba(0,0,0,1)));
    // background: -webkit-linear-gradient(top, rgba(170,0,255,1) 0%, rgba(0,0,0,1) 100%);
    // background: -o-linear-gradient(top, rgba(170,0,255,1) 0%, rgba(0,0,0,1) 100%);
    // background: -ms-linear-gradient(top, rgba(170,0,255,1) 0%, rgba(0,0,0,1) 100%);
    // background: linear-gradient(to bottom, rgba(170,0,255,1) 0%, rgba(0,0,0,1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa00ff', endColorstr='#000000', GradientType=0 );
    // &:before{
    //     content: ' ';
    //     display: block;
    //     position: absolute;
    //     top:0px;
    //     left:0px;
    //     width: 100%;
    //     height:100%;
    //     z-index:0;
    //     background-image: url('../img/skills_bg.png');
    //     background-position: top center;
    //     background-size: 100%;
    // }
    // &:after{
    //     content: ' ';
    //     display: block;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 1px;
    //     z-index: 1;
    //     background: #a0f;
    //     box-shadow: 0px 0px 23px 8px #a0f;
    // }
    .Skills_Content{
        width: calc(100% - 200px);
        margin: 0 auto;
        z-index: 2;
        padding: 160px 70px 350px 130px;
        flex-basis: auto;
        .PageTitle{
            .PageTitle_Name{
                color:#fff;
            }
            .PageTitle_Sub{
                color:#fff;
            }
        }
        .Skills_Text{
            font-family: 'Hind';
            color: #111;
            font-size: 16px;
            font-weight: 200;
            line-height: 28px;
            margin-top: 10px;
            b{
                font-weight: 600;
            }
        }
        .Skills_List{
            position: relative;
            display:flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .Skills_Item{
                width:calc(50% - 15px);
                margin-top:40px;
                .Skills_Item_Title{
                    font-family: 'Hind';
                    color: #fff;
                    font-size: 30px;
                    font-weight: 300;
                    line-height: 35px;
                    i{
                        font-size:30px;
                        color:#ff3b3b;
                    }
                }
                .Skills_Item_Bar{
                    width:calc(100% - 4px);
                    height:13px;
                    border:1px solid #fff;
                    position: relative;
                    .Skills_Item_Bar_Content{
                        width: 100%;
                        height:13px;
                        background:#ccc;
                        transition: 1s ease-in-out;
                    }
                }
                &.aos-animate{
                    &[data-item="HTML"]{
                        .Skills_Item_Bar{
                            border-color:#ff9120;
                            .Skills_Item_Bar_Content{
                                background-color:#e44d26;
                                width:97%;
                                animation: SkillBarHTML 2s ease-in-out;
                                @keyframes SkillBarHTML {
                                    0%{
                                        width:0%;
                                    }
                                    100%{
                                        width:97%;
                                    }
                                }
                            }
                        }
                    }
                    &[data-item="CSS"]{
                        .Skills_Item_Bar{
                            border-color:#2cb1d4;
                            .Skills_Item_Bar_Content{
                                background-color:#0073c3;
                                width:98%;
                                animation: SkillBarCSS 2s ease-in-out;
                                @keyframes SkillBarCSS {
                                    0%{
                                        width:0%;
                                    }
                                    100%{
                                        width:98%;
                                    }
                                }
                            }
                        }
                    }
                    &[data-item="PS"]{
                        .Skills_Item_Bar{
                            border-color:#00e0ff;
                            .Skills_Item_Bar_Content{
                                background-color:#023646;
                                width:95%;
                                animation: SkillBarPS 2s ease-in-out;
                                @keyframes SkillBarPS {
                                    0%{
                                        width:0%;
                                    }
                                    100%{
                                        width:95%;
                                    }
                                }
                            }
                        }
                    }
                    &[data-item="JS"]{
                        .Skills_Item_Bar{
                            border-color:#555;
                            .Skills_Item_Bar_Content{
                                background-color:#f7df1e;
                                width:81%;
                                animation: SkillBarJS 2s ease-in-out;
                                @keyframes SkillBarJS {
                                    0%{
                                        width:0%;
                                    }
                                    100%{
                                        width:81%;
                                    }
                                }
                            }
                        }
                    }
                    &[data-item="PHP"]{
                        .Skills_Item_Bar{
                            border-color:#777bb3;
                            .Skills_Item_Bar_Content{
                                background-color:#b272ec;
                                width:68%;
                                animation: SkillBarPHP 2s ease-in-out;
                                @keyframes SkillBarPHP {
                                    0%{
                                        width:0%;
                                    }
                                    100%{
                                        width:68%;
                                    }
                                }
                            }
                        }
                    }
                    &[data-item="UXUI"]{
                        .Skills_Item_Bar{
                            border-color:#fff;
                            .Skills_Item_Bar_Content{
                                background-image: url('../img/animacao-logo-min.gif');
                                background-size: cover;
                                width:100%;
                                animation: SkillBarUXUI 2s ease-in-out;
                                @keyframes SkillBarUXUI {
                                    0%{
                                        width:0%;
                                    }
                                    100%{
                                        width:100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .Skills_Ferramentas{
            margin-top:60px;
            height: 200px;
            .Skills_Ferramentas_Content{
                padding: 20px 0;
                background: #fff;
                width: calc(100%);
                position: absolute;
                left: 0px;
                height:200px;
                margin-top:30px; 
                display:flex;
                align-items: center;
                overflow: hidden;
                // &:before, &:after {
                //     position: absolute;
                //     top: 0;
                //     width: 100px;
                //     height: 100%;
                //     content: "";
                //     z-index: 1;
                // }
                // &:before {
                //     left: 0;
                //     background: linear-gradient(to right, #fff 5%, transparent 100%);
                // }
                // &:after {
                //     right: 0;
                //     background: linear-gradient(to left, #fff 5%, transparent 100%);
                // }
                .Skills_Ferramentas_List{
                    position: relative;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width:100%;
                    .slick-track{
                        left:0px;
                        position:relative;
                        display:flex;
                        align-items: center;
                    }
                    .slick-list{
                        padding:0px;
                    }
                    .Skills_Ferramentas_List_Item{
                        width:auto;
                        height:auto;
                        margin: 0 40px;
                    }
                }
            }
        }
    }
    @media screen and (max-width:680px) {
        .Skills_Content{
            width: calc(100% - 80px);
            padding: 160px 40px 250px 40px;
        }
    }
    @media screen and (max-width:500px) {
        .Skills_Content{
            .Skills_List{
                flex-direction: column;
                .Skills_Item{
                    width: calc(100%);
                }
            }
        }
    }
    @media screen and (max-width:450px) {
        .Skills_Content{
            width: calc(100% - 60px);
            padding: 100px 30px 320px;
        }
    }
} 